{{#each movies as |movie|}}


<ul id="movie-{{@index}}">
  <li><h1> <small>Title: {{movie.name}}</small></h1></li>
    <!-- <li><button class="remove-book" data-id="{{movie.id}}">Remove</button></li> -->
</ul>

{{/each}}
