$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: left;
}



.status-message {
  text-align: center;
}

#sign-up {
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
    // width: 100%;
    padding: 10px;
}

h1 {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 10px;
}

h3 {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: blue;
  // height: 100px;
  width: 100%;
  color: white;
}

.modalContainer{
  text-align: left;
  font-size: 18px;
}

#change-password{
  display: none;
  // float: left;
}

#signOut{
  display: none;
  // float: right;
  // padding: 10px;
}

.status-message {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.new-movie-entry-instructions{
  display: none;
  // float: left;
}

.your-movies{
  display: none;
  // float: left;
}

.omdb-search-results{
  display: none;
  // float: left;
}

.omdb-search-results-details{
  display: none;
  // float: left;
}

#update-movie{
  display: none;
  // float: left;
}

#delete-movie{
  display: none;
  // float: left;
}

.movie-controls{
  display: none;
  // float: left;
}
